<div class="homepage">
    <img
        src="{{ 'weeklyhow-logo.png' | asset_img_url: 'large' }}"
        class="logo"
        width="1277"
        height="262"
    >
    <h1>Welcome to Shopify Theme Development course!</h1>
    <p>{% render 'homepage-text' %}</p>
</div>
